.privacy-policy {
  margin-left: 20px;
  margin-right: 20px;
  font-family: Metropolis;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #7a7a7a;
}

.span-bold {
  color: black;
  font-weight: 500;
  font-style: bold;
  font-size: 13px;
}
