.form-area {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}

.divided-area-margin {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 34px;
}

.email-continue-button-margin {
  margin-top: 40px;
}
